.orange-btn {
    background-color: rgb(235, 126, 2);
    border: none;
    width: 10em;
    height: 50px;
    border-radius: 8px;
    color: white;
    font-size: 1em;
    transition: background-color 1s ease, color 1s ease;
    margin-top: 10px;
}

.btn {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.116);
    width: 9.9em;
    height: 50px;
    border-radius: 8px;
    color: black;
    font-size: 1em;
    transition: background-color .8s ease, color .1s ease;
    margin-top: 10px;
}

.btn:hover {
    background-color: rgb(235, 88, 2);
    color: white;
    border: none;
}

.orange-btn:hover {
    background-color: rgb(235, 88, 2);
    color: white;
    border: none;
}